/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&family=Montserrat:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #4960d4;
    --title-color: #0c1645;
    --text-color: #606785;
    --border-color: #d9ddf2;
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(231, 76%, 97%);
    --container-color: #f0f2ff;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --second-font: "Bebas Neue",sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.8rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
}
input,
button {
    border: none;
    outline: none;
}
h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== theme ===============*/
/*=============== dark theme ===============*/
body.dark-theme{
    --title-color: hsl(230, 48%, 85%);
    --text-color: hsl(230, 16%, 70%);
    --border-color: hsl(230, 12%, 18%);
    --body-color: hsl(231, 12%, 8%);
    --container-color: hsl(230, 12%, 12%);
}
.dark-theme .shadow-header{
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .4);;
}
.dark-theme .nav__menu{
    box-shadow: 0 -8px 32px hsla(0, 0%, 0%, .4);
}
.dark-theme .scrollup{
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, .4);
}
.dark-theme .featured__title,
.dark-theme .featured__discount{
    color: var(--text-color);
}
.dark-theme .search,.dark-theme .login{
    background-color: hsla(230, 12%, 8%, 0.6);
}
.dark-theme .outline_button{
    color: var(--white-color);
}
.dark-theme::-webkit-scrollbar{
    background-color: hsl(230, 16%, 15%);
}
.dark-theme::-webkit-scrollbar-thumb {
    background-color: hsl(230, 16%, 25%);
}
.dark-theme::-webkit-scrollbar-thumb:hover {
    background-color: hsl(230, 16%, 35%);
}
.dark-theme .featured,
.dark-theme .new,
.dark-theme .footer {
    background-color: var(--body-color);
}
.dark-theme .featured__card{
    background-color: var(--container-color);
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1220px;
    /* margin-inline: 1.5rem; */
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.section {
    padding-block: 4rem 1rem;
}
.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    margin-bottom: 2rem;
}
.main {
    overflow: hidden;
}
/* preset */
/*=============== HEADER & NAV ===============*/
/* Navigation for mobile devices */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow 400ms, background-color 400ms;
}
.shadow-header{
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
}
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__logo_dark,
.footer__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
    color: var(--first-color);
    font-weight: var(--font-medium);
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.8rem;
    margin-left: 1rem;
}
.nav__logo_dark{
    display: none;
}
.dark-theme .nav__logo{
    display: none;
}
.dark-theme .nav__logo_dark{
    display: inline-flex;
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    color: var(--text-color);
    transition: color 400ms
}
.nav__link span{
    display: none;
}

.nav__link i {
    font-size: 1.25rem;
}
.nav__link:hover{
    color: var(--first-color);
}
.nav__actions{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.nav__actions i {
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
    transition: color 400ms;
}
.nav__actions i:hover{
    color: var(--first-color);
}
/* active link */
.active-link{
    color: var(--first-color);
}
/*=============== SEARCH ===============*/
.search{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-fixed);
    
    background-color: hsla(230, 12%, 96%, 0.6);
    backdrop-filter: blur(16px);
    padding: 8rem 1.5rem;
    transition: top 400ms;
}

.search__form{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 8px;
    padding-inline: 1rem;
}

.search__icon{
    font-size: 1rem;
    color: var(--title-color);
}

.serach__input{
    width: 100%;
    padding-block: 1rem;
    background-color: var(--container-color);
    color: var(--text-color);
    
}
.search__close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

/* Show search */
.show-search{
    top: 0;
}

/*=============== Login ===============*/
.login{
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-fixed);
    background-color: hsla(230, 12%, 96%, .6);
    backdrop-filter: blur(16px);
    align-items: center;
    padding: 1.5rem;
    text-align: center;
    transition: top 400ms;
}
.login__form{
    background-color: var(--white-color);
    padding: 3rem 3rem;
    border: 2px solid var(--border-color);
    row-gap: 1.25rem;
}

.login__group{
    row-gap: 1.25rem;
}

.login__label{
    display: block;
    text-align: initial;
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: 0.35rem;
    padding-left: 12px;
}
.login__input{
    width: 100%;
    background-color: var(--white-color);
    border: 2px solid var(--border-color);
    padding: 1rem;
    color: var(--text-color);
    border-radius: 8px;
}
.login__signup,
.login__forget{
    display: block;
    font-size: var(--small-font-size);
}
.login__signup{
    margin-bottom: 0.5rem;
}
.login__signup a{
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.login__forgot{
    color: var(--first-color);
    margin-bottom: 1.25rem;
}
.login__button{
    width: 100%;
    cursor: pointer;
}
.login__close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

/*=============== home ===============*/
.home__swiper{
    padding-top: 2rem;
}
.home__data{
    text-align: center;
}
.home__title{
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}
.home__description{
    margin-bottom: 1rem;
}

.home__images{
    display: grid;
}
.swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}
.swiper-slide img {
    display: block;
    /* width: 90%; */
    object-fit: contain;
    margin: 0px auto;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
}
/*=============== services ===============*/

.services__containter{
    row-gap: 3rem;
}
.services__card{
    text-align: center;
}
.services__card i{
    display: block;
    font-size: 2rem;
    color: var(--first-color);
    margin-bottom: 1rem;
}
.services__title{
    font-size: var(--h2-font-size);
    margin-bottom: 0.5rem;
}

/*=============== featured ===============*/
.featured{
    background-color: var(--white-color);
}
.featured__card{
    position: relative;
    text-align: center;
    background-color: var(--white-color);
    
    padding: 2rem 0.2rem;
    overflow: hidden;
    transition: border 400ms, background-color 400ms;
    color: var(--border-color);
}
.featured__img{
    width: 180px;
    margin: 0 auto 0.75rem;
}
.featured__title{
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
}
.featured__prices{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: 1.25rem;
}
.featured__discount{
    color: var(--title-color);
}
.featured__price{
    font-size: var(--small-font-size);
    text-decoration: line-through;
    color: var(--title-color);
    opacity: 0.6;
}
.featured__card .button{
    cursor: pointer;
}
.featured__actions{
    display: inline-flex;
    flex-direction: column;
    row-gap: 0.75rem;
    position: absolute;
    top: 2rem;
    right: -1.5rem;
    transition: right 400ms;
}
.featured__actions button{
    background: none;
    font-size: 1rem;
    color: var(--first-color);
    cursor: pointer;
}
.featured__card:hover .featured__actions{
    right: 1.5rem;
}
/* swiper arrow class */
.swiper-button-prev::after,
.swiper-button-next::after{
    content: '';
}
.swiper-button-prev,
.swiper-button-next{
    font-size: 1.5rem;
    color: var(--first-color);
    transition: border 400ms ease-in-out;
}
/*=============== discount ===============*/

.discount__container{
    row-gap: 3.5rem;

}
.discount__data{
    text-align: center;
}
.discount__title{
    margin-bottom: 1rem;
}
.discount__description{
    margin-bottom: 2rem;
}
.discount__item{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    padding-bottom: 50px;
    cursor: pointer;
}
.discount__thumbnail{
    margin-bottom: 30px;
    position: relative;
    top: 0;
    transform: top .3s ease;
    width: 75%;
    margin: 0px auto;
}
.discount__thumbnail:hover{
    top: -25px;
}
.discount__item h3{
    font-weight: 600;
    font-size: var(--h2-font-sizes);
}
.product__icon{
    position: absolute;
    width: 35px;
    height: 35px;
    display: inline-block;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -17.5px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease;
}
.discount__item:before {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    background: var(--border-color);
    height: 0%;
    z-index: -1;
    border-radius: 10px;
    transition: .5s all ease;
}
.discount__item:hover a .discount__thumbnail{
    top: -25px;
}
.discount__item:hover .product__icon{
    bottom: 0;
    opacity: 1;
    visibility: visible;
}
.discount__item:hover:before {
   height: 70%;
}
.product__icon i{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}
.discount__images{
    display: flex;
    justify-content: center;
}
.discount__img-1,
.discount__img-2{
    width: 170px;
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);

}
.discount__img-1{
    transform: translateX(1rem) translateY(1rem) rotate(-10deg);
}
.discount__img-2 {
    transform: translateX(-1rem) rotate(10deg);
}

/*=============== new arrive ===============*/
.swiper{
    width: 100%;
}
.swiper-wrapper{
    height: 400px;
}
.new {
    background-color: var(--white-color);
}
.new__card{
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    color: var(--text-color);
    transition: border 400ms;
    /* outline: 2px solid transparent; */
    padding: 3% 3%;
    box-shadow: 0 0 0 0px black;
    transition: box-shadow 0.3s ease-in-out;
}
.new__card:hover{
    outline: 2px solid var(--text-color);
    margin-bottom: 0.5rem;
    box-shadow: 0 0 0 2px black;
}
.new__img {
    width: 220px;
    padding: 20px 0px;
}
.new__prices{
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: 0.75rem;
}
.new__discount{
    color: var(--title-color);
}
.new__price{
    font-size: var(--small-font-size);
    text-decoration: line-through;
}
.new__stars{
    color: var(--first-color);
}
/*=============== join ===============*/
.join__container{
    position: relative;
    padding-block: 3rem;
}
.join__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.join__data{
    position: relative;
}

.join__title,
.join__content{
    color: var(--white-color);
    text-align: center;
}

.join__form{
    display: grid;
    row-gap: 1rem;
}
.join__input{
    padding: 1.25rem 0.75rem;
    color: var(--title-color);
    transition: background-color 400ms;
    border-radius: 8px;
}

.join__input::placeholder{
    color: var(--text-color);
}

.join__button{
    padding-block: 1.25rem;
    cursor: pointer;
}

/*=============== testimonial ===============*/

.testimonial__card{
    text-align: center;
    background-color: var(--container-color);
    padding: 2rem 2rem 2.5rem;
    border: 1px solid var(--border-color);
    transition: border 400ms ease-in-out;
}
.testimonial__img{
    width: 100px;
    border-radius: 80%;
    margin: 0 auto 1.5rem;
}
.testimonial__card h2{
    margin-top: 1rem;
}
.testimonial__title{
    font-size: var(--h2-font-size);
    margin-bottom: 0.75rem;
}
.testimonial__description{
    font-size: var(--small-font-size);
    margin-bottom: 1.25rem;
}
.testimonial__stars{
    color: var(--first-color);
}
/*=============== footer ===============*/
.footer{
    padding: 3rem 0rem;
    background-color: var(--white-color);
}
.footer__container{
    row-gap: 3rem;
}
.footer__logo{
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--first-color);
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    margin-bottom: 1.25rem;
}

.footer__logo i{
    font-size: 1.25rem;
}
.footer__description{
    padding-left: 20px;
}
.footer__data{
    grid-template-columns: repeat(2, max-content);
    gap: 3rem 1rem;
}
.footer__title{
    font-size: var(--h2-font-size);
    margin-bottom: 1.25rem;
}
.footer__links{
    display: grid;
    row-gap: 0.5rem;
}
.footer__link{
    color: var(--text-color);
    transition: color .4s;
}
.footer__link:hover{
    color: var(--first-color);
}
.footer__info{
    font-style: normal;
}
.footer__social{
    display: flex;
    column-gap: 1.25rem;    
}
.footer__social-link{
    color: var(--first-color);
}
.footer__social-link i{
    font-size: 1.5rem;
}
.footer__copy{
    display: block;
    margin-top: 5rem;
    text-align: center;
    font-size: var(--small-font-size);
}


/*=============== button ===============*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding: 0.8rem 1.2rem;
    transition: box-shadow 400ms;
    border-radius: 8px;
    /* margin-right: 12px; */
}
.button:hover,
.outline_button:hover{
    box-shadow: 0 4px 16px hsla(230, 72%, 32%, 0.2);
}
.outline_button{
    border: 1px solid var(--first-color);
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    transition: box-shadow 400ms;
    margin-left: 12px;
}

.show-login{
    top: 0px;
}
/*=============== scroll bar ===============*/
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(230, 16%, 95%);
}
::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(230, 16%, 80%);
}
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(230, 16%, 70%);
}
/*=============== scroll up icon ===============*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--container-color);
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.1);
    display: inline-flex;
    padding: 10px 12px;
    font-size: 1.25rem;
    color: var(--title-color);
    z-index: var(--z-tooltip);
    transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
    border-radius: 50%;
}
.scrollup:hover{
    transform: translateY(-.5rem);
}
/* show scroll up */
.show-scroll{
    bottom: 6rem;
}
/*=============== style ===============*/
.nav__logo_dark img,
.nav__logo img{
    width: 38px;
    display: inline;
}
.footer__logo{
    font-size: 1.25rem;
}
.footer__logo img{
    width: 30px;
}
/*=============== map ===============*/
#map{
    width: 260px;
    height: 220px;
    margin: 0px auto;
}



/*=============== breakpoints ===============*/
@media screen and (max-width: 1150px ){
    .nav__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--container-color);
        box-shadow: 0 -8px 32px hsla(0, 0%, 0%, .1);
        padding: 1.25em 4rem;
        transition: background-color 400ms;
    }
    
}
/* for small devices */
@media screen and (max-width: 380px){
    .container{
        margin-inline: 1rem;
    }
    .nav__menu{
        padding-inline: 3rem;
    }
    .discount__img-1,
    .discount__img-2{
        width: 140px;
    }

    .new__card{
        flex-direction: column;
    }
    .testimonial__card{
        padding-inline: 1rem;
    }
    .footer__data{
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}
/* for medium devices */
@media screen and (min-width:450px){
    .featured__card{
        width: 290px;
    }
    .new__card{
        width: 390px;
        flex-direction: column;
    }
    .testimonial__card{
        width: 320px;
    }

}
@media screen and (min-width:576px) {
    .search__form{
        width: 500px;
        margin-inline: auto;
    }
    .login__form{
        width: 400px;
        justify-content: center;
        margin: 0px auto;
    }
    .search__close,
    .login__close{
        width: max-content;
        top: 4rem;
        left: 0;
        right: 0;
        margin-inline: auto;
    }
    .nev__menu{
        width: 380px;
        margin-inline: auto;
    }
    .home__container,
    .discount__container{
        grid-template-columns: 420px;
        justify-content: center;
    }
    .new__card{
        padding: 3% 0%;
    }
    .join__form{
        width: 328px;
        justify-self: center;
    }
    .footer__data{
        grid-template-columns: repeat(3,max-content);
    }
}
@media screen and (min-width:768px) {
    .home__container{
        grid-template-columns: 580px;
    }
    .home__data{
        width: 420px;
        justify-self: center;
    }
    .discount__gridBox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 6%;
        margin-bottom: 2rem;
    }
    .services__container{
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        column-gap: 5rem;
    }
   .footer__container{
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
   }
   .footer__description{
    width: 200px;
   }
}
/* for large devices */
@media screen and (min-width:1150px) {
    .section{
        padding-block: 7rem 3rem;
    }
    .nav{
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;
    }
    .nav__link i{
        display: none;
    }
    .nav__link span{
        display: block;
    }

    .nav__menu{
        width: initial;
        padding-top: 0.7rem;
    }
    .nav__list{
        column-gap: 4rem;
    }
    .nav__link{
        font-weight: var(--font-medium);
    }
    .dark-theme .nav__menu{
        box-shadow: none;
    }
    .home__data{
        width: initial;
    }
    .home__images .swiper-slide{
        width: max-content;
        height: max-content;
    }
    .services__container{
        column-gap: 10rem;
    }
    .services__card i{
        font-size: 3.5rem;
    }
    .featured__container{
        padding-top: 0rem;
    }
        .featured__title{
        font-size: var(--h2-font-size);
    }
    .discount__container{
        display: flex;
        flex-direction: column;
    }
    .discount__container .discount__data p{
        width: 30%;
    }
    .discount__gridBox {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 6%;
    }
    .discount__item{
        width: 100%;
    }
    .discount__item h3 {
        font-size: 20px;
        padding-top: 20px;
    }
    .discount__data,
    .discount__title{
        text-align: inherit;
    }
    .discount__description{
        margin-bottom: 3.5rem;
    }
    .discount__thumbnail{
        width: 100%;
    }
    .new__container{
        padding-top: 0rem;
    }
    .new__card{
        padding: 1.5rem;
    }
    .new__img{
        width: 200px;
    }
    .new__title{
        font-size: var(--h2-font-size);
    }

    .join__bg{
        object-position: 0 -5rem;
    }

    .testimonial__container{
        padding-top: 0rem;
    }
    .testimonial__card{
        padding-inline: 2rem;
    }
    .testimonial__title{
        font-size: var(--h2-font-size);
    }
    .testimonial__description{
        font-size: var(--normal-font-size);
    }
    .footer{
        padding-block: 6rem 3rem;
    }
    .footer__data{
        grid-template-columns: repeat(4,max-content);
        column-gap: 4.5rem;
    }
    .footer__logo,
    .footer__title{
        font-size: var(--h2-font-size);
        margin-bottom: 1.5rem;
    }
    .footer__data ul{
        padding-left: 0px;
    }
    .footer__links{
        row-gap: 1rem;
    }
    .footer__social{
        column-gap: 1.5rem;
    }
    .footer__social-link{
        font-size: 1.5rem;
    }
    .footer__copy{
        margin-top: 7.5rem;
    }
    .scrollup{
        right: 3rem;
    }
    .show-scroll{
        bottom: 3rem;
    }

}
@media screen and (min-width:1220px){
    .container{
        margin-inline: auto ;
    }
    .home__container{
        grid-template-columns: 435px 745px;
        align-items: center;
        padding-block: 7rem 2rem;
    }
    .home__data{
        text-align: initial;
    }
    .home__description{
        margin-bottom: 4rem;
    }
    .home__article,
    .home__img{
        width: 320px;
    }
}